<p-panel [showHeader]="false">
    <div class="p-formgroup-inline">
        <div class="p-field">
            <label for="" class="m-4">Nome</label>
            <input pInputText type="text" [(ngModel)]="ag.nome">
            <!-- <label for="firstname" class="p-sr-only">Firstname</label>
            <input id="firstname" type="text" pInputText placeholder="Firstname"> -->
        </div>
        <div class="p-field">
            <label for="" class="m-4">Telefone</label>
            <input pInputText type="text" [(ngModel)]="ag.telefone">
            <!-- <label for="lastname" class="p-sr-only">Lastname</label> -->
            <!-- <input id="lastname" type="text" pInputText placeholder="Lastname"> -->
        </div>
        <button pButton type="submit" [label]="operacao ?
                'Adicionar' : 'Atualizar'" (click)="inserirOuAtualizar()" class="m-3">
        </button>
    </div>
</p-panel>

<p-table [value]="agenda" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th class="deletar-atualizar"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ag>
        <tr>
            <td>{{ag.nome}}</td>
            <td>{{ag.telefone}}</td>
            <td class="deletar-atualizar">
                <p-button (click)="editar(ag)" class="espaco" icon="pi pi-pencil"></p-button>
                <p-button (click)="excluir(ag.id)" icon="pi pi-trash"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>